#backup files
*.back
*~

# Object files
*.o

# Dependency files
*.d

# Libraries
*.lib
*.a

# Memory maps
*.map

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Binary Images
*.elf
*.boot
*.bin

# Temporary swap files (from open Vim windows)
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Xinu build files
compile/config/config
compile/config/y.tab.h
compile/config/parse.c
compile/version
compile/vn
include/conf.h
include/version.h
system/conf.c

